{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}About us {% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/round-about.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style type="text/css">
    .social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */

     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/
#social-fb {
     text-align: center;
     float: center;
 }
 #social-fb:hover {
     color: #3B5998;
 }
 #social-in:hover {
     color: #0077b5;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }
</style>
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
       <a class="navbar-brand" href="{% url 'nfc:index' %}">
           <img src="{% static 'img/nfc_logo.jpg' %}" alt="Logo" style="width:45px;">
       </a>
       <p class="text-light"> আর্ত মানবতার সেবায় আমরা</p>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'nfc:index' %}">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'nfc:about' %}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'nfc:activity' %}">Activities</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact:contact' %}">Contact</a>
            </li>
            {% if request.user.is_authenticated %}
			<li class="nav-item">
                <a class="nav-link" href="{% url 'nfc:profile' %}">
                    <img src="{% static 'img/user.svg' %}" alt="Logo" width="34" height="30">
                </a>
            </li>
			<li class="nav-item">
                <a class="nav-link" href="{% url 'nfc:logout' %}">
                    <img src="{% static 'img/exit.svg' %}" alt="Logo" width="34" height="30">
                </a>
            </li>
			    {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'nfc:login' %}">
                    <img src="{% static 'img/login.svg' %}" alt="Logo" width="34" height="30">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'nfc:register' %}">
                    <img src="{% static 'img/user(3).svg' %}" alt="Logo" width="34" height="30">
                </a>
            </li>
			{% endif %}
          </ul>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Introduction Row -->
      <h1 class="text-success text-center" style="margin-top: 30px;">Narayanganj Friends Club (N.F.C) </h1>
       <h4 class="text-success text-center">  অগ্রযাত্রা: 15-09-2011 </h4>
      <!-- Team Members Row -->
      <div class="row">
        <div class="col-lg-12">
          <h2 class="my-4 text-info text-center"> আমাদের নিবেদিত প্রাণ  সমূহ</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="{% static 'img/rowsan.jpg' %}" alt="" style="width: 200px; height: 200px;">
          <h3>Rowsan Ara
          </h3>
          <p class="m-0 text-center text-info">
          <a href="https://www.facebook.com/rowshan.ara.1"><i id="social-fb5" class="fa fa-facebook-square fa-3x social"></i></a>
          <a href="#"><i id="social-in5" class="fa fa-linkedin-square fa-3x social"></i></a>
          <a href="#"><i id="social-tw5" class="fa fa-twitter-square fa-3x social"></i></a>
        </p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="{% static 'img/rahim.jpg' %}" alt="" style="width: 200px; height: 200px;">
          <h3>Abdur Rahim
          </h3>
          <p class="m-0 text-center text-info">
          <a href="https://www.facebook.com/a.rahim.nfc"><i id="social-fb1" class="fa fa-facebook-square fa-3x social"></i></a>
          <a href="#"><i id="social-in1" class="fa fa-linkedin-square fa-3x social"></i></a>
          <a href="#"><i id="social-tw1" class="fa fa-twitter-square fa-3x social"></i></a>
        </p>
        </div>

        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="{% static 'img/ekram.jpg' %}" alt="" style="width: 200px; height: 200px;">
          <h3>Ekram Hosen
          </h3>
          <p class="m-0 text-center text-info">
          <a href="https://www.facebook.com/Ehosen"><i id="social-fb7" class="fa fa-facebook-square fa-3x social"></i></a>
          <a href="#"><i id="social-in7" class="fa fa-linkedin-square fa-3x social"></i></a>
          <a href="#"><i id="social-tw7" class="fa fa-twitter-square fa-3x social"></i></a>
        </p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="{% static 'img/preon.jpg' %}" alt="" style="width: 200px; height: 200px;">
          <h3>Al-Mamun Preun
          </h3>
          <p class="m-0 text-center text-info">
          <a href="https://www.facebook.com/mj.mamun.336"><i id="social-fb4" class="fa fa-facebook-square fa-3x social"></i></a>
          <a href="#"><i id="social-in4" class="fa fa-linkedin-square fa-3x social"></i></a>
          <a href="#"><i id="social-tw4" class="fa fa-twitter-square fa-3x social"></i></a>
        </p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="{% static 'img/rofiq.jpg' %}" alt="" style="width: 200px; height: 200px;">
          <h3>Rofiqul Islam
          </h3>
          <p class="m-0 text-center text-info">
          <a href="https://www.facebook.com/Rofiqulislam111"><i id="social-fb3" class="fa fa-facebook-square fa-3x social"></i></a>
          <a href="#"><i id="social-in3" class="fa fa-linkedin-square fa-3x social"></i></a>
          <a href="#"><i id="social-tw3" class="fa fa-twitter-square fa-3x social"></i></a>
        </p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="{% static 'img/ifty.jpg' %}" alt="" style="width: 200px; height: 200px;">
          <h3>Nazmun Noor Ifty
          </h3>
          <p class="m-0 text-center text-info">
          <a href="https://www.facebook.com/profile.php?id=100011647083409"><i id="social-fb8" class="fa fa-facebook-square fa-3x social"></i></a>
          <a href="#"><i id="social-in8" class="fa fa-linkedin-square fa-3x social"></i></a>
          <a href="#"><i id="social-tw8" class="fa fa-twitter-square fa-3x social"></i></a>
        </p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="{% static 'img/jahangir.jpg' %}" alt="" style="width: 200px; height: 200px;">
          <h3>Jahangir Alam Tonmoy</h3>
          <p class="m-0 text-center text-info">
          <a href="https://www.facebook.com/profile.php?id=100008889219229"><i id="social-fb2" class="fa fa-facebook-square fa-3x social"></i></a>
          <a href="#"><i id="social-in2" class="fa fa-linkedin-square fa-3x social"></i></a>
          <a href="#"><i id="social-tw2" class="fa fa-twitter-square fa-3x social"></i></a>
        </p>
        </div>

        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="{% static 'img/arif.jpg' %}" alt="" style="width: 200px; height: 200px;">
          <h3>Arifujjaman Arif</h3>
          <p class="m-0 text-center text-info">
          <a href="https://www.facebook.com/arifujjaman.arif.5"><i id="social-fb6" class="fa fa-facebook-square fa-3x social"></i></a>
          <a href="#"><i id="social-in6" class="fa fa-linkedin-square fa-3x social"></i></a>
          <a href="#"><i id="social-tw6" class="fa fa-twitter-square fa-3x social"></i></a>
        </p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="{% static 'img/babu.jpg' %}" alt="" style="width: 200px; height: 200px;">
          <h3>SI Babu</h3>
          <p class="m-0 text-center text-info">
          <a href="https://www.facebook.com/si.babu.397"><i id="social-fb9" class="fa fa-facebook-square fa-3x social"></i></a>
          <a href="#"><i id="social-in9" class="fa fa-linkedin-square fa-3x social"></i></a>
          <a href="#"><i id="social-tw9" class="fa fa-twitter-square fa-3x social"></i></a>
        </p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="{% static 'img/alfie.jpg' %}" alt="" style="width: 200px; height: 200px;">
          <h3>Alfie Liam</h3>
          <p class="m-0 text-center text-info">
          <a href="https://www.facebook.com/the.alfieliam"><i id="social-fb10" class="fa fa-facebook-square fa-3x social"></i></a>
          <a href="#"><i id="social-in10" class="fa fa-linkedin-square fa-3x social"></i></a>
          <a href="#"><i id="social-tw10" class="fa fa-twitter-square fa-3x social"></i></a>
        </p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="{% static 'img/mintu.jpg' %}" alt="" style="width: 200px; height: 200px;">
          <h3>Md Joynal Abedin Mintu</h3>
          <p class="m-0 text-center text-info">
          <a href="https://www.facebook.com/official.joynalabedinmintu"><i id="social-fb11" class="fa fa-facebook-square fa-3x social"></i></a>
          <a href="#"><i id="social-in11" class="fa fa-linkedin-square fa-3x social"></i></a>
          <a href="#"><i id="social-tw11" class="fa fa-twitter-square fa-3x social"></i></a>
        </p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="{% static 'img/shithi.jpg' %}" alt="" style="width: 200px; height: 200px;">
          <h3>Shithi Rahman</h3>
          <p class="m-0 text-center text-info">
          <a href="https://www.facebook.com/shithi.rahman.16"><i id="social-fb12" class="fa fa-facebook-square fa-3x social"></i></a>
          <a href="#"><i id="social-in12" class="fa fa-linkedin-square fa-3x social"></i></a>
          <a href="#"><i id="social-tw12" class="fa fa-twitter-square fa-3x social"></i></a>
        </p>
        </div>
      </div>
      <h2 class="text-info"> আমাদের লক্ষ্য সমূহ</h2>
      <p class="text-secondary">►আমরা অনেক স্বপ্ন দেখি NFC নিয়ে । আমরা চাই এটা শুধু ফেসবুকেই সীমাবদ্ধ না থেকে ফেসবুক থেকে বাইরেও বেরিয়ে আসুক। নেমে পড়ুক রাস্তায়,তুলে ধরুক তৃষ্ণার্তের মুখে পানি ।</p>
      <p class="text-secondary">►ভ্রম্যমান শিশুদের স্কুলে ভর্তি, বিনামূল্যে রক্তদান, দূরারোগ্য অসহায় মানুষের সহায়তা ইত্যাদি সহ বিভিন্ন মানবিক কাজে নিরন্তর লেগে থাকাতে চাই।</p>
      <p class="text-secondary">►বছরের বিভিন্ন উল্লেখযোগ্য দিন যেমন:- আন্তর্জাতিক মাতৃভাষা দিবস, স্বাধীনতা দিবস, বিজয় দিবসে শ্রদ্ধাঞ্জলির মত দিনগুলোতে কিছু আয়োজন করতে চাই।</p>
      <p class="text-secondary">►NFC এর সকল বন্ধুদের হৃদয়ের বন্ধন আরো দৃড় করতে সৌজন্য সাক্ষাত ,আড্ডা কিংবা বনভোজনের মতো আয়োজনগুলো নিয়মিত করতে চাই ।</p>
      <p class="text-danger">►রাজনীতি বিষয়ক কোন পোষ্ট, ধর্মীয় অনুভুতিতে আঘাত করবে এমন কোন পোষ্ট করা যাবে না ।</p>
      <p class="text-info">♥ আমরা NFC এর পরিবার ,সুন্দর আগামী আমাদের অঙ্গিকার ♥</p>
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-3 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Narayangonj Friends Club || All rights reserved 2018 || Designed by  <a href="https://nobinprofile.herokuapp.com/">Talukder Nobin</a> </p>
        <p class="m-0 text-center text-info">
          <a href="https://www.facebook.com/groups/nfc.2011/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
          <a href="https://www.linkedin.com/in/nabir-hossain-a72249106/"><i id="social-in" class="fa fa-linkedin-square fa-3x social"></i></a>
          <a href="https://twitter.com/MdNabirHossain3"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
          <a href="https://plus.google.com/u/0/116561509278696653736"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
          <a href="mailto:nabirhossain13@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        </p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

  </body>

</html>