{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Create post
{% endblock %}

{% block stylesheet %}

{% endblock %}

{% block profile %}

{% endblock %}


{% block content %}

<div class="container" style="margin-top: 80px;">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            {{ form.media }}
        {{ form|crispy }}
        <button class="btn btn-success">Create Post</button>
    </form>
</div>


{% endblock %}


{% block script %}

{% endblock %}