{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>{% block title %} Portfolio {% endblock %}</title>
        <style>
        body { background-color: #fafafa; }
        img { border-radius: 3px; cursor: pointer; }
    </style>
<style type="text/css">
    .social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */

     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/
#social-fb {
     text-align: center;
     float: center;
 }
 #social-fb:hover {
     color: #3B5998;
 }
 #social-in:hover {
     color: #0077b5;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }
</style>
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
       <a class="navbar-brand" href="{% url 'nfc:index' %}">
           <img src="{% static 'img/nfc_logo.jpg' %}" alt="Logo" style="width:45px;">
       </a>
       <p class="text-light"> আর্ত মানবতার সেবায় আমরা</p>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'nfc:index' %}">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'nfc:about' %}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'nfc:activity' %}">Activities</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact:contact' %}">Contact</a>
            </li>
            {% if request.user.is_authenticated %}
			<li class="nav-item">
                <a class="nav-link" href="{% url 'nfc:profile' %}">
                    <img src="{% static 'img/user.svg' %}" alt="Logo" width="34" height="30">
                </a>
            </li>
			<li class="nav-item">
                <a class="nav-link" href="{% url 'nfc:logout' %}">
                    <img src="{% static 'img/exit.svg' %}" alt="Logo" width="34" height="30">
                </a>
            </li>
			    {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'nfc:login' %}">
                    <img src="{% static 'img/login.svg' %}" alt="Logo" width="34" height="30">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'nfc:register' %}">
                    <img src="{% static 'img/user(3).svg' %}" alt="Logo" width="34" height="30">
                </a>
            </li>
			{% endif %}
          </ul>
        </div>
    </nav>
    <div class="jumbotron jumbotron-fluid bg-info mb-0">
        <div class="container py-3 text-light">
        <h1 class="display-4">Narayangonj Friends club</h1>
        <h1 class="display-6"> আর্ত মানবতার সেবায় আমরা</h1>
    </div>
        </div>
        <div class="container py-4">
            <div class="gallery" style="display:none;">
                <img data-gallery-tag="প্রতিষ্টাবার্ষিকী" class="gallery-item" src="{% static 'img/nfc_7th_birthDay.jpg' %}" />
                <img data-gallery-tag=" ঈদ বস্র বিতরণ  " class="gallery-item" src="{% static 'img/nfc_eid9.jpg' %}" />
                <img data-gallery-tag="প্রতিষ্টাবার্ষিকী" class="gallery-item" src="{% static 'img/nfc_birth5.jpg' %}" />
                <img data-gallery-tag="শীতবস্র বিতরণ " class="gallery-item" src="{% static 'img/nfc_gift1.jpg' %}" />
                <img data-gallery-tag="প্রতিষ্টাবার্ষিকী" class="gallery-item" src="{% static 'img/nfc_birth6.jpg' %}" />
                <img data-gallery-tag=" ঈদ বস্র বিতরণ  " class="gallery-item" src="{% static 'img/nfc_eid1.jpg' %}" />
                <img data-gallery-tag="শীতবস্র বিতরণ " class="gallery-item" src="{% static 'img/nfc_gift5.jpg' %}" />
                <img data-gallery-tag="প্রতিষ্টাবার্ষিকী" class="gallery-item" src="{% static 'img/nfc_birth2.jpg' %}" />
                <img data-gallery-tag=" ঈদ বস্র বিতরণ  " class="gallery-item" src="{% static 'img/nfc_eid2.jpg' %}" />
                <img data-gallery-tag="শীতবস্র বিতরণ " class="gallery-item" src="{% static 'img/nfc_gift6.jpg' %}" />
                <img data-gallery-tag="প্রতিষ্টাবার্ষিকী" class="gallery-item" src="{% static 'img/nfc_birth3.jpg' %}" />
                <img data-gallery-tag=" ঈদ বস্র বিতরণ  " class="gallery-item" src="{% static 'img/nfc_eid5.jpg' %}" />
                <img data-gallery-tag="শীতবস্র বিতরণ " class="gallery-item" src="{% static 'img/nfc_gift2.jpg' %}" />
                <img data-gallery-tag="প্রতিষ্টাবার্ষিকী" class="gallery-item" src="{% static 'img/nfc_birth1.jpg' %}" />
                <img data-gallery-tag=" ঈদ বস্র বিতরণ  " class="gallery-item" src="{% static 'img/nfc_eid6.jpg' %}" />
                <img data-gallery-tag="শীতবস্র বিতরণ " class="gallery-item" src="{% static 'img/nfc_gift3.jpg' %}" />
                <img data-gallery-tag="শীতবস্র বিতরণ " class="gallery-item" src="{% static 'img/nfc_gift4.jpg' %}" />
                <img data-gallery-tag=" ঈদ বস্র বিতরণ  " class="gallery-item" src="{% static 'img/nfc_eid3.jpg' %}" />
                <img data-gallery-tag="শীতবস্র বিতরণ " class="gallery-item" src="{% static 'img/nfc_gift8.jpg' %}" />
                <img data-gallery-tag=" ঈদ বস্র বিতরণ  " class="gallery-item" src="{% static 'img/nfc_eid7.jpg' %}" />
                <img data-gallery-tag="প্রতিষ্টাবার্ষিকী" class="gallery-item" src="{% static 'img/nfc_birth4.jpg' %}" />
                <img data-gallery-tag=" ঈদ বস্র বিতরণ  " class="gallery-item" src="{% static 'img/nfc_eid4.jpg' %}" />
                <img data-gallery-tag="শীতবস্র বিতরণ " class="gallery-item" src="{% static 'img/nfc_gift7.jpg' %}" />
                <img data-gallery-tag=" ঈদ বস্র বিতরণ  " class="gallery-item" src="{% static 'img/nfc_eid8.jpg' %}" />
            </div>
        </div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

        <script src="{% static 'assets/mauGallery.min.js' %}"></script>
        <script src="{% static 'assets/scripts.js' %}"></script>
    <!-- Footer -->
    <footer class="py-3 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Narayangonj Friends Club || All rights reserved 2018 || Designed by  <a href="https://nobinprofile.herokuapp.com/">Talukder Nobin</a> </p>
        <p class="m-0 text-center text-info">
          <a href="https://www.facebook.com/groups/nfc.2011/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
          <a href="https://www.linkedin.com/in/nabir-hossain-a72249106/"><i id="social-in" class="fa fa-linkedin-square fa-3x social"></i></a>
          <a href="https://twitter.com/MdNabirHossain3"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
          <a href="https://plus.google.com/u/0/116561509278696653736"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
          <a href="mailto:nabirhossain13@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        </p>
      </div>
    </footer>
    </body>
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</html>
